{% extends "layout.html" %}

{% block title %}
    Add Cash
{% endblock %}

{% block main %}
<!-- Add Cash form -->
<h1>Add Cash</h1>
<br>
<form action="/add-cash" method="post">
    <div class="mb-3">
        <input type="number" name="add_cash" id="add_cash" step="0.01" class="form-control mx-auto w-auto" autofocus autocomplete="off" placeholder="Amount to add">
    </div>
    <p>Your actual financies: {{ webCurrentUserCash | usd }}</p>
    <button type="submit" class="btn btn-primary">Add Cash</button>
</form>
{% endblock %}