{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}

<h1>Change Password</h1>
<br>
<form action="/edit-password" method="post">
    <div class="mb-3">
        <input type="password" name="old_psw" id="old_psw" autofocus autocomplete="off" class="form-control mx-auto w-auto" placeholder="Your old password">
    </div>
    <div class="mb-3">
        <input type="password" name="new_psw" id="new_psw" autocomplete="off" class="form-control mx-auto w-auto" placeholder="New password">
    </div>
    <div class="mb-3">
        <input type="password" name="new_confirm" id="new_confirm" autocomplete="off" class="form-control mx-auto w-auto" placeholder="Confirm new password">
    </div>
    <button type="submit" class="btn btn-primary">Confirm Change</button>
</form>

{% endblock %}